.gallery {
  display: flex;
  justify-content: space-around;

}
img.gallery-item {
  max-width: 250px;
  height: 140px;
  width: 100%;
  border: 5px solid black;
  margin: 5px;
}

p {
  padding: 10px 0;
}